@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boon';
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Boon-Regular.woff2) format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 5px;
}

a {
  color: #0074de;
}
